{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="card my-4 w-25">
        <img src="{{profile.profile_pic.url}}" alt="image" class="card-img-top">
        <div class="card-body">
            <h2 class="card-title">{{profile.user}}</h2>
            <p>{{profile.bio}}</p>
            <p>{{profile.contacts}}</p>
        </div>
    </div>
    <a href="{% url 'update_profile' profile.id %}" class="btn btn-primary">Update profile</a>
    <h3 class="text-center my-4">Projects</h3>
    <div class="row">
        {% for project in projects %}
        <div class="col-md-4 ">
            <div class="card mb-3">
                <a href="{% url 'project' project.id %}">
                    <img src="{{project.image.url}}" alt="image" class="card-img-top">
                </a>
                <div class="card-body">
                    <h3 class="card-title">{{project.title}}</h3>
                    <p class="card-subtitle">{{project.description}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}